<!doctype html>
<html lang="it">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Prova pratica Challenger</title>
  </head>
  <body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	
<div class= "container">
  <a class="navbar-brand" href="#">Challenger</a>
 	 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
   		 <span class="navbar-toggler-icon"></span>
  	 </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link " href="Hallo_world.html">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="container.html">Contenitori</a>
    </div>
  </div>
<a class="btn btn-outline-info ml-auto" href="#" role="button">Login</a>
</div>
</nav>

<div class= "container mt-3 text-center">
	<div class= "row">
		<div class= "col-md-10 offset-md-1">
			<h1>Prova pratica Challenger</h1>
			<p>
Ed ecco, quasi al cominciar dell'erta | una lonza [lince o leopardo][2] leggiera e presta molto, | che di pel maculato era coverta; | e non mi si partìa dinnanzi al volto, | anzi impediva tanto il mio cammino, | ch'i fui per ritornar più volte volto. (I, 31-36)
			</p>
		</div>
	</div>
	<a class="btn btn-outline-info" href="#" role="button">Informazioni</a>
</div>

    <!-- cartoline -->
<div class= "container text-center my-4" id="cartoline">
<div class="card-deck">

  <div class="card">
    <img src="img/razzo.jpeg" class="card-img-top" alt="foto-razzo">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Vuolsi così colà dove si puote | ciò che si vuole, e più non dimandare. (III, 95-96; V, 23-24)
Caron dimonio, con occhi di bragia | loro accennando, tutte le raccoglie; | batte col remo qualunque s'adagia. (III, 109-111)</p>
      <a class="btn btn-outline-info" href="img/razzo.jpeg" role="button">link</a>
    </div>
  </div>

  <div class="card">
    <img src="img/atmosfera.jpeg" class="card-img-top" alt="foto-atmosfera">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Vuolsi così colà dove si puote | ciò che si vuole, e più non dimandare. (III, 95-96; V, 23-24)
Caron dimonio, con occhi di bragia | loro accennando, tutte le raccoglie; | batte col remo qualunque s'adagia. (III, 109-111)</p>
      <a class="btn btn-outline-info" href="img/atmosfera.jpeg" role="button">link</a>
    </div>
  </div>

  <div class="card">
    <img src="img/luna.jpeg" class="card-img-top" alt="foto-luna">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Vuolsi così colà dove si puote | ciò che si vuole, e più non dimandare. (III, 95-96; V, 23-24)
Caron dimonio, con occhi di bragia | loro accennando, tutte le raccoglie; | batte col remo qualunque s'adagia. (III, 109-111)</p>
      <a class="btn btn-outline-info" href="img/luna.jpeg" role="button">link</a>
    </div>
  </div>

</div>
</div>
    <!-- fine cartoline -->
<div class= "container">
	<p>
Ed ecco, quasi al cominciar dell'erta | una lonza [lince o leopardo][2] leggiera e presta molto, | che di pel maculato era coverta; | e non mi si partìa dinnanzi al volto, | anzi impediva tanto il mio cammino, | ch'i fui per ritornar più volte volto. (I, 31-36)
	</p>
</div>
		<!-- gruppo liste -->
<div class= "container my-4 text-center">
<div class="card-deck">

<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="https://www.w3schools.com">Cras justo odio</a></li>
    <li class="list-group-item"><a href="https://www.w3schools.com">Dapibus ac facilisis in!</a></li>
    <li class="list-group-item"><a href="https://www.w3schools.com">Vestibulum at eros!</a></li>
  </ul>
</div>

<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="https://www.w3schools.com">Cras justo odio</a></li>
    <li class="list-group-item"><a href="https://www.w3schools.com">Dapibus ac facilisis in!</a></li>
    <li class="list-group-item"><a href="https://www.w3schools.com">Vestibulum at eros!</a></li>
  </ul>
</div>

<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="https://www.w3schools.com">Cras justo odio</a></li>
    <li class="list-group-item"><a href="https://www.w3schools.com">Dapibus ac facilisis in!</a></li>
    <li class="list-group-item"><a href="https://www.w3schools.com">Vestibulum at eros!</a></li>
  </ul>
</div>

</div>
</div>
		<!-- fine gruppo liste -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>