@font-face {
    font-family: 'Blacklet';
    src: url('hinted-Blacklet-NormalBold.eot');
    src: url('hinted-Blacklet-NormalBold.eot?#iefix') format('embedded-opentype'),
        url('hinted-Blacklet-NormalBold.ttf') format('truetype');
    font-weight:bold;
    font-style: normal;
    font-display: swap;
}

